@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Anton&family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Dancing+Script:wght@400;700&family=Rubik&display=swap');

.coming {
    font-size: 27px;
    margin-top: 20%;
    font-weight: 500;
    font-family: Rubik;
}

.coming1 {
    font-size: 12px;
    font-weight: 400;
    margin-top: -2%;
}

.coming4 {
    width: 188px;
    height: 27px;
    background-color: black;
    color: white;
}

.coming4:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* 
.coming9{
    width: 90%;
    margin-left: 5%;
    height: 35px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(242, 242, 242);
} */

@media only screen and (max-width: 1023px) and (min-width: 768px) {

    .coming9 {
        width: 56%;
        margin-left: 0%;
        height: 35px;
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(242, 242, 242);
    }

}

@media only screen and (max-width: 766px) and (min-width: 425px) {
     .coming10{
        margin-top: 7%;
     }
     .coming11{
        text-align: center;
     }
     .coming12{
        margin-left: 26.3%;
     }
}

@media only screen and (max-width: 423px) and (min-width: 375px){

    .coming10{
        margin-top: 7%;
     }
     .coming11{
        text-align: center;
     }
     .coming12{
        margin-left: 23%;
     }


}

@media only screen and (max-width: 374px) and (min-width: 320px){

    .coming10{
        margin-top: 7%;
     }
     .coming11{
        text-align: center;
     }
     .coming12{
        margin-left: 18.5%;
     }
}