@media only screen and (max-width: 423px) and (min-width: 375px) {

    .hide52 {
        display: block;
        margin-top: 5%;
    }

    .hide54 {
        display: none;
    }
    .side1 {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 370;
    }
    .side2{
        font-size: 20px;
     
    }
    .ho1 {
        font-size: 19px;
        flex-direction: column;
    }
    .hn1 {
        font-size: 19px;
        flex-direction: column;
    }
    .ho2 {
        width: 100%;
        height: 200px;
    }
    .home4 {
        font-weight: 370;
        font-size: 30px;
        /* font-family: Barlow Condensed; */
    }
    .home9 {
        font-size: 20px;
        font-weight: 400;
    }
    .hide57{
        display: none;
      
    }







}