
.crousal_image{
    width: 100%;
   
}
.crousal_image:hover{
    border: 1px solid black;
}
.brn{
    font-size: 25px;
    font-weight: 300;
}
.brn1{
    font-size: 17px;
    font-weight: 300;
    margin-top: 3%;
}
.brn5{
    margin-top: 8%;
    margin-left: 6%;
}

.nw1{
    display: none;
}

@media only screen and (max-width: 1023px) and (min-width: 768px){

    

}

@media only screen and (max-width: 766px) and (min-width: 425px){
    .nw1{
        display: block;
    } 
    .nw2{
        display: none;
    }
}

@media only screen and (max-width: 423px) and (min-width: 375px){
    .nw1{
        display: block;
    } 
    .nw2{
        display: none;
    }

}

@media only screen and (max-width: 374px) and (min-width: 320px){
    .nw1{
        display: block;
    } 
    .nw2{
        display: none;
    }

}