.customer{
    font-weight: 350;
    font-size: 26px;
}
.customer1{
    font-size: 13px;
}
.customer2{
    font-size: 22px;
}
.customer3{
    font-size: 16px;
    font-weight: 300;
    margin-left: 1%;
}

.customer4{
    margin-left: 15%; 
    margin-top: 5%;
}
.customer5{
    margin-left: 14%;
    font-size: 13px;
}
.customer6{
    font-size: 13px;
    margin-left: 15%;
}
.hide71{
    
    display: none;

}
