@media only screen and (max-width: 423px) and (min-width: 375px) {

    .hidd1{
        display: block;
      }

   

      .ffb{
        display: none;
     }
     .bf{
        display: block;
     }
 

      .cl8 {
        font-weight: 370;
        font-size: 22px;
        margin-top: 1%;
        justify-content: center;
        display: flex;
    }
    .sk{
        display: none;
    }
    .last1{
        width: 28%;
        height: 30px;
        border: 1px solid  rgb(193,193,193);
       margin-left: 35%;
    }
    .last2{
        font-size: 14px;
        margin-top: 2%;
        margin-left: 14%;
    }

}