.brand1 {
    font-size: 26px;
    font-weight: 300;
}

.brand2 {
    border: 1px solid rgb(229, 229, 229);
    font-size: 14px;
    height: 30px;
    width: 35px;
    background-color: black;
}

.brand3 {
    border: 1px solid rgb(229, 229, 229);
    font-size: 14px;
    height: 30px;
    width: 35px;
}

.brand3:hover {
    background-color: rgb(229, 229, 229);
}

.brand4 {
    border: 1px solid rgb(229, 229, 229);
    font-size: 14px;
    height: 30px;
    width: 35px;
    color: rgb(229, 229, 229);
}

.brand5 {
    margin-top: 8%;
    margin-left: 5%;

 
}

.brand6{
 
    font-size: 18px;
    font-weight: 300;
}
.brand7{
    
    font-size: 18px;
    font-weight: 300;
}
.brand8{

    font-size: 18px;
    font-weight: 300;
}
.brand9{
   
    font-size: 18px;
    font-weight: 300;
}
.brand10{
  
    font-size: 18px;
    font-weight: 300;
}

.brand13{
    display: none;
}


@media only screen and (max-width: 766px) and (min-width: 425px){
    .brand12{
        display: none;

    }
    .brand13{
        display: block;
    }
    .scroll-container {
        width: 377px;
        overflow-x: scroll; 
        /* white-space: nowrap; */
    }
    .content {
        margin-top: 8%;
        width: 600px; 
        /* margin-left: 10%; */
    }
}


@media only screen and (max-width: 423px) and (min-width: 375px){
    .brand12{
        display: none;

    }
    .brand13{
        display: block;
    }
    .scroll-container {
        width: 329px;
        overflow-x: scroll; 
        /* white-space: nowrap; */
    }
    .content {
        margin-top: 8%;
        width: 600px; 
        /* margin-left: 10%; */
    }

}

@media only screen and (max-width: 374px) and (min-width: 320px){

    .brand12{
        display: none;

    }
    .brand13{
        display: block;
    }   
    
    .scroll-container {
        width: 300px;
        overflow-x: scroll; 
        /* white-space: nowrap; */
    }
    .content {
        margin-top: 8%;
        width: 600px; 
        /* margin-left: 10%; */
    }

}



