@media only screen and (max-width: 1023px) and (min-width: 768px){


    
    .scroll-container {
        width: 650px;
        overflow-x: scroll; 
        /* white-space: nowrap; */
    }
    .content {
        margin-top: 8%;
        width: 800px; 
        /* margin-left: 10%; */
    }









}
