.error1{
font-size: 40px;
font-weight: 350;
}
.error{
    margin-top: 10%;
}
.error2{
    font-weight: 300;
    font-size: 26px;
}
.error3{
    font-size: 12px;
}
.error4{
    width: 100px;
    height: 27px;
    border: 1px solid black;
   margin-left: 46%;
   font-size: 15px;
}
.error4:hover{
    background-color: black;
    color: white;
    
}

@media only screen and (max-width: 1023px) and (min-width: 768px){

    .error4{
        width: 100px;
        height: 27px;
        border: 1px solid black;
       margin-left: 43%;
       font-size: 15px;
    }

}

@media only screen and (max-width: 766px) and (min-width: 425px) {
    .error4{
        width: 100px;
        height: 27px;
        border: 1px solid black;
       margin-left: 38%;
       font-size: 15px;
    }

}

@media only screen and (max-width: 423px) and (min-width: 375px){

    .error4{
        width: 100px;
        height: 27px;
        border: 1px solid black;
       margin-left: 36%;
       font-size: 15px;
    }


}

@media only screen and (max-width: 374px) and (min-width: 320px){
    .error4{
        width: 100px;
        height: 27px;
        border: 1px solid black;
       margin-left: 34%;
       font-size: 15px;
    }

}