@media only screen and (max-width: 1023px) and (min-width: 768px) {

    .new20 {
        position: absolute;
        top: 0;
        background-color: black;
        width: 100%;
        display: block;
    }

    .new21 {
        font-size: 26px;
        color: white;
        margin-left: 2%;
    }

    .new22 {
        background-color: black;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-top: 2.3%;
        margin-left: 3%;

    }

    .new23 {
        font-family: Dancing Script;
        font-size: 30px;
        margin-top: -30%;

    }


    .new24 {
        margin-left: 53%;
        margin-top: 1%;
    }

    .new25 {
        margin-left: 10%;
        font-size: 45px;
        margin-top: -1%;
        color: white;
    }
    .new2{
        display: none;
    }

    .new26 {
        margin-bottom: -7%;
        font-size: 42px;
        font-weight: 300;
    }
    
    .new29 {
        margin-bottom: 4%;
        font-size: 42px;
        font-weight: 300;
    }
    
    .new28 {
        font-size: 17px;
        font-weight: 300;
    }

    .new30 {
        position: absolute;
        top: 0;
        margin-top: 20%;
        margin-left: 35%;
    }

    
    .new32{
        display: none;
    }

    .r1{
        background-color: black;
        margin-top: -3%;
        width: 101.6%;
        display: block;
    }
    .hoom7 {
        font-size: 14px !important;
     
    }
 



}